<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<template>
    <div class=""></div>
</template>
<section id="projectCtnr" class="projectCtnr" name="projectCtnr"></section>
<form id="newProject" class="newProject" name="newProject">
    <input type="text" placeholder="GitHub" name="">
    <input type="password" placeholder="Password" name="">
    <input type="submit" name="">
</form>
</body>
</html>